<div class='page-header'>
    <table class='table table-striped table-hover'>
      <thead>
        <tr>
          <th><br></th>
          <th>Name</th>
          <th><%= @date.strftime("%B") %></th>
          <th>Quarter</th>
          <th>FY</th>
          <th>Total Hours</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
          <% if user.timecards.order(start_time: :desc).first.end_time != nil %>
            <td>Punch In</td>
          <% else %>
            <td>Punch Out</td>
          <% end %>
            <td><%= user.last_name + ", " + user.first_name %></td>
            <td><% 
              total = 0
              for ts in user.timecards.where("end_time > ?", @current_month)
                if ts.end_time
                  total = total + (ts.end_time - ts.start_time)
                end
              end
              %><%= (total/60/60).round(2) %>
            </td>
            <td><% 
              total = 0
              for ts in user.timecards.where("end_time > ?", @current_quarter)
                if ts.end_time
                  total = total + (ts.end_time - ts.start_time)
                end
              end
              %><%= (total/60/60).round(2) %>
            </td>
            <td><% 
              total = 0
              for ts in user.timecards.where("end_time > ?", @fy)
                if ts.end_time
                  total = total + (ts.end_time - ts.start_time)
                end
              end
              %><%= (total/60/60).round(2) %>
            </td>
            <td><% 
              total = 0
              for ts in user.timecards
                if ts.end_time
                  total = total + (ts.end_time - ts.start_time)
                end
              end
              %><%= (total/60/60).round(2) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
