<%= link_to 'All Menus', '/main' , class: 'btn btn-primary' %>


<div class='page-header'>
    <div><img src=<%= @menu.vendor.image %>></div>
    <h1><%= link_to @menu.vendor.name, admin_vendor_path(id: @menu.vendor_id) %> </h1>
    <h3><%= @menu.menu_date %> - 
        <%= @menu.menu_type %>
        <% if @menu.votes.count > 0 %>- 
            <%= (Float(@menu.votes.sum(&:rating)) / @menu.votes.count).round(2) %>
            (<%= @menu.votes.count %> votes)
        <% end %>
    </h3>       
    <p><%= simple_format(@menu.details) %></p>       
</div>
<% if @menu.votes.count > 0 %> 
<div >
    <table>
        <tr>
            <th><h2>Voter</h2></th>
            <th><h2>Vote</h2></th>
            <th><h2>Comment</h2></th>
        </tr>
        <% @votes.each do |vote| %>
            <tr>
                <td valign='top'><%= vote.user.username %></td>
                <td valign='top'><%= vote.rating %></td>
                <td valign='top'>
                    <% vote.comments.each do |comment| %>
                       <%= comment.comment %><br>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
<% end %>
