<%= link_to 'All Menus', '/main' , class: 'btn btn-primary' %>
<div class='page-header'>
    <table class='table table-striped table-hover' width=60%>
      <thead>
        <tr>
          <th><br></th>
          <th>Name</th>
          <th><%= DateTime.now.utc.strftime("%B") %></th>
          <th>Quarter</th>
          <th>FY</th>
        </tr>
      </thead>

      <tbody>
        <% @users_data.each do |user| %>
          <tr>
            <% 
            if user['user'].timecards.order(start_time: :desc).first.hours != 0 %>
            <td><%= link_to 'Punch In', timecards_start_path(id: user['user']['id']), method: 'POST' %></td>
          <% else %>
            <% print(user['user']['id']) %>
            <td><%= link_to 'Punch Out', timecards_finish_path(id: user['user'].timecards.where(hours: 0).first.id), method: 'POST' %></td>
          <% end %>
            <td><%= link_to user['user']['last_name'] + ", " + user['user']['first_name'], user_path(id: user['user']['id']), method: 'GET' %></td>
            <td><%= user['month'] %></td>
            <td><%= user['quarter'] %></td>
            <td><%= user['fy'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>


<div class='page-header'>
    <div><img src=<%= @menu.vendor.image %>></div>
    <h1><%= link_to @menu.vendor.name, admin_vendor_path(id: @menu.vendor_id) %> </h1>
    <h3><%= @menu.menu_date %> - 
        <%= @menu.menu_type %>
        <% if @menu.votes.count > 0 %>- 
            <%= (Float(@menu.votes.sum(&:rating)) / @menu.votes.count).round(2) %>
            (<%= @menu.votes.count %> votes)
        <% end %>
    </h3>       
    <p><%= simple_format(@menu.details) %></p>       
</div>
<% if @menu.votes.count > 0 %> 
<div >
    <table>
        <tr>
            <th><h2>Voter</h2></th>
            <th><h2>Vote</h2></th>
            <th><h2>Comment</h2></th>
        </tr>
        <% @votes.each do |vote| %>
            <tr>
                <td valign='top'><%= vote.user.username %></td>
                <td valign='top'><%= vote.rating %></td>
                <td valign='top'>
                    <% vote.comments.each do |comment| %>
                       <%= comment.comment %><br>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
<% end %>
