<div style="float: right;">
  <%= link_to 'Add User', "", class: 'btn btn-primary' %>
</div>

<div class='page-header'>
  <h2><%= @unit.name %></h2> 
    <table class='table table-striped table-hover' width=60%>
      <thead>
        <tr>
          <th>Name</th>
          <th><%= DateTime.now.utc.strftime("%B") %></th>
          <th>Quarter</th>
          <th>FY</th>
        </tr>
      </thead>

      <tbody>
        <% @users_data.each do |user| %>
          <tr>
            <td><%= link_to user['user']['last_name'] + ", " + user['user']['first_name'], user_path(id: user['user']['id']), method: 'GET' %></td>
            <td><%= user['month'] %></td>
            <td><%= user['quarter'] %></td>
            <td><%= user['fy'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

