<%= link_to 'Back to Unit', super_admin_unit_path(@user.unit.id), class: 'btn btn-primary' %> 
<%= link_to 'Edit User', edit_super_admin_user_path(@user.id), class: 'btn btn-primary' %> 

<div class='page-header'>
  <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  <p>
    <% if @user.super_admin %>
      <h4>Super Administrator</h4>
    <% elsif @user.admin %>
      <h4>Administrator</h4>
    <% end %>
    <%= @user.email_address %></p>
</div>
  
