<div class='page-header'>
  <h1>Editing Timecard</h1>
</div>

<div class='well bs-component'>
  <%= form_for(@timecard, url: timecard_path, method: :put, html: { class: 'form-horizontal', multipart: true}) do |f| %>
    <% if @timecard.errors.any? %>
    <fieldset>
        <div id="error_explanation">
          <h2><%= pluralize(@timecard.errors.count, "error") %> prohibited this @timecard from being saved:</h2>

          <ul>
          <% @timecard.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class='form-group'>
        <%= f.label :start_time, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <div class="input-group bootstrap-timepicker timepicker">
            <input type="text" data-provide="datepicker" class="form-control" name="timecard[start_time]" value="<%= @timecard.start_time.strftime('%m/%d/%Y') %>">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class='form-group'>
        <%= f.label :hours, class: 'col-lg-2' %>
          <div class='col-lg-10'>
          <%= f.text_field :hours, class: 'form-control', required: true %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <fieldset>
  <% end %>
</div>
