<div class='page-header'>
  <h1>Create a New User</h1>
</div>

<div class='well bs-component'>
	<%= form_for(@user, url: admin_users_path, html: { class: 'form-horizontal', multipart: true}) do |f|%>
    <% if @user.errors.any? %>
    <fieldset>
        <div class="alert" id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

			<div class='form-group'>
        <%= f.label :first_name, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.text_field :first_name, class: 'form-control', required: true %>
        </div>
			</div>

			<div class='form-group'>
        <%= f.label :last_name, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.text_field :last_name, class: 'form-control', required: true %>
        </div>
			</div>

			<div class='form-group'>
        <%= f.label :email, class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.text_field :email, class: 'form-control', required: true %>
        </div>
			</div>

      <div class='form-group'>
        <%= f.label :admin, "Unit Administrator?", class: 'col-lg-2' %>
        <div class='col-lg-10'>
          <%= f.check_box :admin, class: 'form-control' %>
        </div>
      </div>			

			<%= hidden_field_tag "unit_id", params['unit_id'] %>

      <div class="actions">
        <%= f.submit %>
      </div>
    <fieldset>
  <% end %>
</div>

