<%= link_to 'Back to Unit', admin_unit_path(@user.unit.id), class: 'btn btn-primary' %> 
<%= link_to 'Edit User', edit_admin_user_path(@user.id), class: 'btn btn-primary' %> 

<div class='page-header'>
<h1><%= @user.first_name %> <%= @user.last_name %>
	<% if !@user.active %>
		<i>Inactive</i>
	<% end %>
</h1>
  <p>
    <% if @user.super_admin %>
      <h4>Super Administrator</h4>
    <% elsif @user.admin %>
      <h4>Administrator</h4>
    <% end %>
    <%= @user.email %></p>
  <table valign=top width=50%>
    <tr>
      <th>Oct</th>
      <th>Nov</th>
      <th>Dec</th>
      <th>Jan</th>
      <th>Feb</th>
      <th>Mar</th>
      <th>Apr</th>
      <th>May</th>
      <th>Jun</th>
      <th>Jul</th>
      <th>Aug</th>
      <th>Sep</th>
      <th>FY</th>
    </tr>
    <tr>
      <td><%= @total['oct'] %></td>
      <td><%= @total['nov'] %></td>
      <td><%= @total['dec'] %></td>
      <td><%= @total['jan'] %></td>
      <td><%= @total['feb'] %></td>
      <td><%= @total['mar'] %></td>
      <td><%= @total['apr'] %></td>
      <td><%= @total['may'] %></td>
      <td><%= @total['jun'] %></td>
      <td><%= @total['jul'] %></td>
      <td><%= @total['aug'] %></td>
      <td><%= @total['sep'] %></td>
      <td><%= @total['fy'] %></td>
    </tr>
  </table>
</div>


<div class='page-header'>
    <h2>All Timecards</h2>
    <table valign=top width=50%>
        <tr>
          <th><br></th>
          <th>Date</th>
          <th>Zulu Time</th>
          <th>Hours</th>
        </tr>
        <% @timecards.each do |timecard| %>
          <tr>
	    			<td><%= link_to 'Edit', edit_timecard_path(timecard[:id]) %></td>
            <td><%= timecard[:start_time].to_date %></td>
            <td><%= timecard[:start_time].to_s(:time) %></td>
            <td><%= timecard[:hours] %></td>
          </tr>
        <% end %>
    </table>
</div>
  
