
<%= link_to 'Edit Vendor', edit_admin_vendor_path(@vendor), class: 'btn btn-primary' %>


<div class='page-header'>
    <table valign=top width=100%>
        <tr>
            <td><h1><%= @vendor.name %> - <%= @vendor.location %></h1></td>
            <td align=right>
              <% if @vendor.image? %>
                <div class='col-sm-3'>
                    <p> <%= image_tag(@vendor.image.url, style: 'height:100px;width:auto;', alt: 'Image') %> </p>
                </div>
              <% end %>
          </td>
      </tr>
  </table>
</div>

<div class='page-header'>
    <h2>Future Menus</h2>
    <table valign=top width=100%>
        <tr>
            <th>Menu Date</th>
        </tr>
        <% @vendor.menus.where('menu_date > ?', DateTime.now).order(menu_date: :asc).each do |menu| %>
          <tr>
            <td><%= link_to menu.menu_date, admin_menu_path(id: menu.id) %></td>
          </tr>
        <% end %>
    </table>
</div>

<div class='page-header'>
    <h2>Current & Past Menus</h2>
    <table valign=top width=100%>
        <tr>
            <th>Menu Date</th>
            <th>Average Vote</th>
            <th>Number of Votes</th>
            <th>Number of Comments</th>
        </tr>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= link_to menu.menu_date, admin_menu_path(id: menu.id) %></td>
            <td><%= (Float(menu.votes.sum(&:rating)) / menu.votes.count).round(2) %></td>
            <td><%= menu.votes.count %></td>
            <td><%= menu.comments.count %></td>
          </tr>
        <% end %>
    </table>
</div>
