<nav class="navbar navbar-default">
  <header class="timecard-page">
    <div class="container clearfix">
      <div id="credentials">
        <% if user_signed_in? %>
          Hello <strong><%= current_user.first_name %></strong>.
          <%= link_to "Edit", edit_user_registration_path, method: :get, :class => 'navbar-link'  %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% end %>
      </div>
      <h1 id="timecard-page-title">Console Timecard</h1>
      <table width="100%"> 
        <tr>
          <td width="70%">
            <div id="timecard-tabs">
              <h3 id="timecard-page-clock"><%= timepiece %> ZULU</h3>
            </div>
          </td>
          <td align="right">
            <% if user_signed_in? %>
              <% if Time.now.month <= 10 %>
                <h3 id="timecard-page-clock">FY<%=Time.now.year - 1 %> Total: <%= DisplayTimecards.new(current_user).call['fy'] %> </h3>
              <% else %>
                <h3 id="timecard-page-clock">FY<%=Time.now.year %> Total: </h3>
              <% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <% if user_signed_in? %>
      <div class="container clearfix">
        <div id="events-tabs">
          <br>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <%= link_to "My Unit", unit_path(current_user.unit_id), {:style=>'color:#FFFFFF;'} %> 
            </li>
            <li class="nav-item">
              <%= link_to "My Timecards", user_path(current_user.id), {:style=>'color:#FFFFFF;'} %> 
            </li>
            <% if current_user.super_admin? %>
              <li class="nav-item">
                <%= link_to "Administration", admin_units_path, {:style=>'color:#FFFFFF;'} %>
              </li>
            <% elsif current_user.admin? %>
              <li class="nav-item">
                <%= link_to "Administration", admin_unit_path(current_user.unit_id), {:style=>'color:#FFFFFF;'} %>
              </li>
            <% end %>	
            <li class="nav-item", style="float: right;">
              <%= link_to "Help", "https://github.com/renedq/console_timecard/wiki", {:style=>'color:#FFFFFF;'} %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="container clearfix">
        <div id="events-tabs">
          <br>
          <ul class="nav nav-pills">
            <li class="nav-item", style="float: right;">
            <%= link_to "Help", "https://github.com/renedq/console_timecard/wiki", {:style=>'color:#FFFFFF;'} %> 
            </li>
          </ul>
        </div>
      </div>
    <% end %>
    
  </header>
</nav>
